.slick-next:before{
    content: '\f0da' !important;
    font-family: 'FontAwesome' !important;
    color: theme('colors.primary-color') !important;
    font-size: 50px !important;
}
.slick-prev:before{
    content: '\f0d9' !important;
    font-family: 'FontAwesome' !important;
    color: theme('colors.primary-color') !important;
    font-size: 50px !important;
}
.slick-dots{
    bottom: -30px !important;
}
.slick-dots .slick-active button::before{
    content: '\f072';
    font-family: 'FontAwesome';
    font-size: 25px !important;
} 
.slick-dots li button:before{
    color: theme('colors.primary-color') !important;
    opacity: 1 !important;
}