@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Myfont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Questrial-Regular.ttf) format('woff2');
  }

  body{
    font-family: 'Myfont', sans-serif;
    font-size: 20px;
  }

  .link.active{
    background-color: #ffa500;
    padding: 12px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 5px 0px #f8bd50;
  }

  .link:hover{
    background-color: #ffa500;
    color: white;
    border-radius: 5px;
    padding: 12px;
  }
}
  