@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1800px;
  --color-primary: #a4ac86;
  --color-secondary: #31572c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: theme(--color-primary);
  font-family: 'Noto Sans', sans-serif;
  @apply text-xl;
}

h1, h2, h3, h4, h5, h6{
  @apply font-bold;
}

title{
  @apply text-4xl uppercase text-secondary;
}