/* CSS */
.tab-button {
  border: 4px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tab-button.active{
    box-shadow: black 0px 0px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .tab-button {
    padding: 0 25px;
  }
}