.slick-next:before{
    content: '\f0da' !important;
    font-family: 'FontAwesome' !important;
}
.slick-prev:before{
    content: '\f0d9' !important;
    font-family: 'FontAwesome' !important;
}

.slick-next, .slick-prev{
    background-color: theme('colors.color-1') !important;
    border-radius: 999px;
    height: 25px !important;
    width: 25px !important;
}

.gradient-bg{
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.8) 1%, rgba(255, 255, 255, 0.5) 100%);
}

.template-box:hover .gradient-bg{
    display: block;
    transition: all 0.5s ease-in-out;
}

.template-box:hover .add-fav{
    top: 10px;
    transition: all 0.3s ease-in-out;
}

.template-box:hover .template-button{
    bottom: 0;
    transition: all 0.3s ease-in-out;
}