@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #84a98c;
  --color-secondary: #344e41;
  --color-thirdary: #ccd5ae;
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --shadow-3xl: 0px 5px 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-primary text-xl;
}

h1, h2, h3, h4, h5, h6{
  @apply font-bold;
}

.title{
  @apply text-5xl text-secondary uppercase;
}

.sub-title{
  @apply text-3xl text-thirdary;
}

.underline-thick{
  text-decoration-thickness: 4px;
}