@import "tailwindcss";

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #84a98c;
  --color-secondary: #344e41;
  --color-thirdary: #ccd5ae;
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --shadow-sm: 5px 0px 5px;
  --shadow-3xl: 0px 5px 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  @apply text-lg;
}

h1, h2, h3, h4, h5, h6{
  @apply font-bold;
}

.title{
  @apply text-6xl text-secondary uppercase;
}

.sub-title{
  @apply text-5xl text-primary;
}

.underline-thick{
  text-decoration-thickness: 4px;
}

.fade-in {
	-webkit-animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-out {
	-webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}