/* The customcheckbox */
.customcheckbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.customcheckbox input:checked ~ .checkmark {
    background-color: #00868B;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheckbox input:checked ~ .checkmark:after {
    display: block;
}
.customcheckbox .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #BFEFFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}